# 1. Superbase Configuration
# Supabase URL
NEXT_PUBLIC_SUPABASE_URL=https://sample-string-of.supabase.co

# Supabase Anon Key
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbxxx.sample-string-of-supaba-se-anonymous-key-1234567890abcdefghijklmnopqrstuvwxyz

